In [37]:
import pandas as pd
import geopandas as gp

In [18]:
bart16 = pd.read_csv('E:/Transit-Casa-Alex/Output/BART/2016/BART_Intra_SF_Ridership.csv',thousands = ',')
bart16 = bart16.drop('Unnamed: 0',axis = 1)

In [19]:
bart09 = pd.read_csv('E:/Transit-Casa-Alex/Output/BART/2009/BART_Intra_SF_Ridership.csv',thousands = ',')
bart09 = bart09.drop('Unnamed: 0',axis = 1)

In [11]:
bart09.head()

  Station   Froms     Tos  CO                 STATION
0      EM   7,074   7,416  SF   16TH STREET & MISSION
1      MT   7,722   9,967  SF   24TH STREET & MISSION
2      PL  12,568  10,930  SF             BALBOA PARK
3      CC   7,007   6,915  SF  CIVIC CENTER/ UN PLAZA
4      16   6,681   6,982  SF               DALY CITY

In [12]:
bart16.head()

  Station   Froms     Tos  CO                 STATION
0      EM   8,228   8,516  SF   16TH STREET & MISSION
1      MT   9,659  11,335  SF   24TH STREET & MISSION
2      PL  10,594   9,793  SF             BALBOA PARK
3      CC   6,230   6,416  SF  CIVIC CENTER/ UN PLAZA
4      16   6,127   6,557  SF               DALY CITY

In [21]:
bart = pd.merge(bart09,bart16,on = ['Station','STATION','CO'], suffixes = ('_09','_16'))

In [22]:
bart.head()

  Station  Froms_09  Tos_09  CO                 STATION  Froms_16  Tos_16
0      EM      7074    7416  SF   16TH STREET & MISSION      8228    8516
1      MT      7722    9967  SF   24TH STREET & MISSION      9659   11335
2      PL     12568   10930  SF             BALBOA PARK     10594    9793
3      CC      7007    6915  SF  CIVIC CENTER/ UN PLAZA      6230    6416
4      16      6681    6982  SF               DALY CITY      6127    6557

In [35]:
bart['FROM_DIFF'] = bart.Froms_16.astype(int) - bart.Froms_09.astype(int)
bart['TO_DIFF'] = bart.Tos_16.astype(int) - bart.Tos_09.astype(int)
bart['FROM_P_DIFF'] = (bart['FROM_DIFF']/bart['Froms_09'])*100
bart['FROM_P_DIFF'] = bart.FROM_P_DIFF.astype(int)
bart['FROM_P_DIFF'] = bart['FROM_P_DIFF'].apply(lambda value: str(value) + '%')

bart['TO_P_DIFF'] = (bart['TO_DIFF']/bart['Tos_09'])*100
bart['TO_P_DIFF'] = bart['TO_P_DIFF'].astype(int)
bart['TO_P_DIFF'] = bart['TO_P_DIFF'].apply(lambda value: str(value) + '%')

In [36]:
bart.head()

,Station,Froms_09,Tos_09,CO,STATION,Froms_16,Tos_16,FROM_DIFF,TO_DIFF,FROM_P_DIFF,TO_P_DIFF
0,EM,7074,7416,SF,16TH STREET & MISSION,8228,8516,1154,1100,16%,14%
1,MT,7722,9967,SF,24TH STREET & MISSION,9659,11335,1937,1368,25%,13%
2,PL,12568,10930,SF,BALBOA PARK,10594,9793,-1974,-1137,-15%,-10%
3,CC,7007,6915,SF,CIVIC CENTER/ UN PLAZA,6230,6416,-777,-499,-11%,-7%
4,16,6681,6982,SF,DALY CITY,6127,6557,-554,-425,-8%,-6%

In [38]:
stations = gp.read_file('E:/Transit-Casa-Alex/Input/BART/Stations/BART_Sta_13.shp')

In [48]:
stations = stations[stations['CO'] == 'SF']
stations

,CO,DIST,OPERATOR,STATION,geometry
29,SF,4,BART,EMBARCADERO,POINT (-122.396033220569 37.79322220278397)
30,SF,4,BART,MONTGOMERY STREET,POINT (-122.4015398362278 37.78888642284969)
31,SF,4,BART,POWELL STREET,POINT (-122.4068235887763 37.78476966169613)
32,SF,4,BART,CIVIC CENTER/ UN PLAZA,POINT (-122.4141845304435 37.77896496103885)
33,SF,4,BART,16TH STREET & MISSION,POINT (-122.4194566417886 37.76468721127412)
34,SF,4,BART,24TH STREET & MISSION,POINT (-122.418304517505 37.75278416743183)
35,SF,4,BART,GLEN PARK,POINT (-122.4339599538094 37.73313053773821)
36,SF,4,BART,BALBOA PARK,POINT (-122.4471285869132 37.72160655217209)

In [44]:
map_data = stations[['STATION','geometry']].merge(bart,on = 'STATION')

In [50]:
map_data['LAT'] = [-122.396033220569,-122.4015398362278,-122.4068235887763,-122.41418453044345,-122.4194566417886,-122.418304517505,-122.4339599538094,-122.4471285869132]

In [52]:
map_data['LON'] = [37.79322220278397,37.78888642284969,37.78476966169613,37.77896496103885,37.76468721127412,37.75278416743183,37.73313053773821,37.72160655217209]

In [53]:
map_data.head()

,STATION,geometry,Station,Froms_09,Tos_09,CO,Froms_16,Tos_16,FROM_DIFF,TO_DIFF,FROM_P_DIFF,TO_P_DIFF,LAT,LON
0,EMBARCADERO,POINT (-122.396033220569 37.79322220278397),24,9083,8795,SF,8509,8250,-574,-545,-6%,-6%,-122.396033,37.793222
1,MONTGOMERY STREET,POINT (-122.4015398362278 37.78888642284969),BP,11914,11240,SF,9368,8397,-2546,-2843,-21%,-25%,-122.401540,37.788886
2,POWELL STREET,POINT (-122.4068235887763 37.78476966169613),DC,4673,4772,SM,6432,6254,1759,1482,37%,31%,-122.406824,37.784770
3,CIVIC CENTER/ UN PLAZA,POINT (-122.4141845304435 37.77896496103885),CC,7007,6915,SF,6230,6416,-777,-499,-11%,-7%,-122.414185,37.778965
4,16TH STREET & MISSION,POINT (-122.4194566417886 37.76468721127412),EM,7074,7416,SF,8228,8516,1154,1100,16%,14%,-122.419457,37.764687

In [54]:
map_data.to_file('E:/Transit-Casa-Alex/Input/BART/Map_Data.shp',driver = 'ESRI Shapefile')

In [55]:
map_data.to_csv('E:/Transit-Casa-Alex/Input/BART/Map_Data.csv')

In [57]:
pd.read_csv('E:/Transit-Casa-Alex/Output/BART/Map Data/Map_Data.csv')

,Unnamed: 0,STATION,geometry,Station,Froms_09,Tos_09,CO,Froms_16,Tos_16,FROM_DIFF,TO_DIFF,FROM_P_DIFF,TO_P_DIFF,LAT,LON
0,0,EMBARCADERO,POINT (-122.396033220569 37.79322220278397),24,9083,8795,SF,8509,8250,-574,-545,-6%,-6%,-122.396033,37.793222
1,1,MONTGOMERY STREET,POINT (-122.4015398362278 37.78888642284969),BP,11914,11240,SF,9368,8397,-2546,-2843,-21%,-25%,-122.401540,37.788886
2,2,POWELL STREET,POINT (-122.4068235887763 37.78476966169613),DC,4673,4772,SM,6432,6254,1759,1482,37%,31%,-122.406824,37.784770
3,3,CIVIC CENTER/ UN PLAZA,POINT (-122.4141845304435 37.77896496103885),CC,7007,6915,SF,6230,6416,-777,-499,-11%,-7%,-122.414185,37.778965
4,4,16TH STREET & MISSION,POINT (-122.4194566417886 37.76468721127412),EM,7074,7416,SF,8228,8516,1154,1100,16%,14%,-122.419457,37.764687
5,5,24TH STREET & MISSION,POINT (-122.418304517505 37.75278416743183),MT,7722,9967,SF,9659,11335,1937,1368,25%,13%,-122.418305,37.752784
6,6,GLEN PARK,POINT (-122.4339599538094 37.73313053773821),GP,5787,5489,SF,5819,5449,32,-40,0%,0%,-122.433960,37.733131
7,7,BALBOA PARK,POINT (-122.4471285869132 37.72160655217209),PL,12568,10930,SF,10594,9793,-1974,-1137,-15%,-10%,-122.447129,37.721607