In [1]:
import pandas as pd
import geopandas as gp

In [56]:
qcew_sf_16 = pd.read_csv('E:/Transit-Casa-Alex/Input/QCEW/2016/2016.q1-q4 06075 San Francisco County, California.csv')
qcew_sf_14 = pd.read_csv('E:/Transit-Casa-Alex/Input/QCEW/2014/2014.q1-q4 06075 San Francisco County, California.csv')

In [57]:
codes = ['10','44-45','61','62','71','72']

In [58]:
qcew_sf2_16 = qcew_sf_16[qcew_sf_16['industry_code'].isin(codes)]
qcew_sf2_14 = qcew_sf_14[qcew_sf_14['industry_code'].isin(codes)]

In [59]:
qcew_sf3_16 = qcew_sf2_16[qcew_sf2_16['qtr'] == 4]
qcew_sf3_14 = qcew_sf2_14[qcew_sf2_14['qtr'] == 4]

In [60]:
#drop out the first row because it was a total and not needed
qcew_sf3_16 = qcew_sf3_16.ix[4:]
qcew_sf3_14 = qcew_sf3_14.ix[4:]

In [61]:
grouped_16 = qcew_sf3_16[['industry_code','year','month1_emplvl','month2_emplvl','month3_emplvl']].groupby(by = 'industry_code',as_index = False).agg({'year':'first','month1_emplvl':'sum','month2_emplvl':'sum','month3_emplvl':'sum'})
grouped_14 = qcew_sf3_14[['industry_code','year','month1_emplvl','month2_emplvl','month3_emplvl']].groupby(by = 'industry_code',as_index = False).agg({'year':'first','month1_emplvl':'sum','month2_emplvl':'sum','month3_emplvl':'sum'})

In [62]:
grouped_16['Q4_AVG'] = (grouped_16['month1_emplvl'] + grouped_16['month2_emplvl'] + grouped_16['month3_emplvl'])/3
grouped_14['Q4_AVG'] = (grouped_14['month1_emplvl'] + grouped_14['month2_emplvl'] + grouped_14['month3_emplvl'])/3

In [63]:
grouped_16.to_csv('E:\Transit-Casa-Alex\Output\QCEW/SF_Quarter4_Annual_2016.csv')
grouped_14.to_csv('E:\Transit-Casa-Alex\Output\QCEW/SF_Quarter4_Annual_2014.csv')

In [77]:
sf = gp.read_file('E:/Transit-Casa-Alex/Input/LEHD Census Blocks/2014/San Fran/075_Employment.shp')

In [65]:
grouped_16

,industry_code,year,month3_emplvl,month2_emplvl,month1_emplvl,Q4_AVG
0,10,2016,715472,714198,712089,713919.666667
1,44-45,2016,48468,47809,46540,47605.666667
2,61,2016,17593,17882,17890,17788.333333
3,62,2016,72747,72595,72431,72591.000000
4,71,2016,15151,14950,15731,15277.333333
5,72,2016,81094,81936,82642,81890.666667

In [66]:
grouped_14

,industry_code,year,month3_emplvl,month2_emplvl,month1_emplvl,Q4_AVG
0,10,2014,659461,654936,653094,655830.333333
1,44-45,2014,48469,47540,46230,47413.000000
2,61,2014,18869,18988,18754,18870.333333
3,62,2014,68233,67871,67515,67873.000000
4,71,2014,13671,13391,14410,13824.000000
5,72,2014,76929,76670,77720,77106.333333

In [67]:
ratios = grouped_16['Q4_AVG']/grouped_14['Q4_AVG']

In [68]:
industry_ratios = ratios[1:]

In [69]:
industry_ratios

1    1.004064
2    0.942661
3    1.069512
4    1.105131
5    1.062049
Name: Q4_AVG, dtype: float64

In [78]:
sf['RETAIL_RAC'] = sf['RETAIL_RAC'] * 1.004063583
sf['RETAIL_WAC'] = sf['RETAIL_WAC']*1.004063583

sf['EDHLTH_RAC'] = sf['EDHLTH_RAC']*1.041916766
sf['EDHLTH_WAC'] = sf['EDHLTH_WAC']*1.041916766

sf['LEISER_RAC'] = sf['LEISER_RAC']*1.068598304
sf['LEISER_WAC'] = sf['LEISER_WAC']*1.111488581

sf['OTHER_WAC'] = sf['OTHER_WAC']*1.111488581
sf['OTHER_RAC'] = sf['OTHER_RAC']*1.111488581

sf['EMP_RAC'] = sf['RETAIL_RAC'] + sf['EDHLTH_RAC'] + sf['LEISER_RAC'] + sf['OTHER_RAC']
sf['EMP_WAC'] = sf['RETAIL_WAC'] + sf['EDHLTH_WAC'] + sf['LEISER_WAC'] + sf['OTHER_WAC']

In [79]:
pd.options.display.max_columns = 9999
sf.head()

,ALAND10,AWATER10,BLOCKCE10,BLOCK_ID,COUNTYFP10,EDHLTH_RAC,EDHLTH_WAC,EMP_RAC,EMP_WAC,FUNCSTAT10,GEOID10,INTPTLAT10,INTPTLON10,LEISER_RAC,LEISER_WAC,MTFCC10,NAME10,OTHER_RAC,OTHER_WAC,RETAIL_RAC,RETAIL_WAC,STATEFP10,TRACTCE10,UACE10,UATYP10,UR10,createda_1,createdate,geometry,h_geocode,w_geocode
0,16958,0,2002,6.075021e+13,075,14.586835,6.251501,68.577584,6.251501,S,2147483647,+37.7500665,-122.4410751,6.411590,0.000000,G5040,Block 2002,45.571032,0.000000,2.008127,0.0,06,021300,78904,U,U,20160219.0,20160219.0,"POLYGON ((-122.440616 37.750902, -122.440459 3...",6.075021e+13,6.075021e+13
1,16823,0,2000,6.075021e+13,075,10.419168,0.000000,62.122405,5.557443,S,2147483647,+37.7501958,-122.4389330,5.342992,0.000000,G5040,Block 2000,43.348055,5.557443,3.012191,0.0,06,021300,78904,U,U,20160219.0,20160219.0,"POLYGON ((-122.438397 37.750226, -122.43832 37...",6.075021e+13,6.075021e+13
2,17020,0,3004,6.075021e+13,075,6.251501,0.000000,60.859902,15.560840,S,2147483647,+37.7567937,-122.4362701,10.685983,0.000000,G5040,Block 3004,38.902100,15.560840,5.020318,0.0,06,020500,78904,U,U,20160219.0,20160219.0,"POLYGON ((-122.435808 37.757623, -122.435642 3...",6.075021e+13,6.075021e+13
3,16415,0,1003,6.075021e+13,075,16.670668,0.000000,64.121156,15.560840,S,2147483647,+37.7535291,-122.4370498,3.205795,1.111489,G5040,Block 1003,42.236566,14.449352,2.008127,0.0,06,021200,78904,U,U,20160219.0,20160219.0,"POLYGON ((-122.436527 37.75354, -122.436454 37...",6.075021e+13,6.075021e+13
4,17523,0,4001,6.075021e+13,075,7.293417,0.000000,38.179002,20.006794,S,2147483647,+37.7557580,-122.4334002,3.205795,0.000000,G5040,Block 4001,26.675726,20.006794,1.004064,0.0,06,021100,78904,U,U,20160219.0,20160219.0,"POLYGON ((-122.432331 37.756227, -122.432254 3...",6.075021e+13,6.075021e+13

In [72]:
sf.columns

Index(['ALAND10', 'AWATER10', 'BLOCKCE10', 'BLOCK_ID', 'COUNTYFP10',
       'EDHLTH_RAC', 'EDHLTH_WAC', 'EMP_RAC', 'EMP_WAC', 'FUNCSTAT10',
       'GEOID10', 'INTPTLAT10', 'INTPTLON10', 'LEISER_RAC', 'LEISER_WAC',
       'MTFCC10', 'NAME10', 'OTHER_RAC', 'OTHER_WAC', 'RETAIL_RAC',
       'RETAIL_WAC', 'STATEFP10', 'TRACTCE10', 'UACE10', 'UATYP10', 'UR10',
       'createda_1', 'createdate', 'geometry', 'h_geocode', 'w_geocode',
       'RETAIL_RAC_16', 'RETAIL_WAC_16', 'EDHLTH_RAC_16', 'EDHLTH_WAC_16',
       'LEISER_RAC_16', 'LEISER_WAC_16', 'OTHER_WAC_16', 'OTHER_RAC_16',
       'EMP_RAC_16', 'EMP_WAC_16'],
      dtype='object')

In [80]:
sf.crs = {'init':'epsg:4269'}

In [81]:
sf.to_csv('E:/Transit-Casa-Alex/Output/LEHD/2016/SF_Employment.csv')
sf.to_file('E:/Transit-Casa-Alex/Output/LEHD/2016/SF_Employment.shp')

In [75]:
sf.head()

,ALAND10,AWATER10,BLOCKCE10,BLOCK_ID,COUNTYFP10,EDHLTH_RAC,EDHLTH_WAC,EMP_RAC,EMP_WAC,FUNCSTAT10,GEOID10,INTPTLAT10,INTPTLON10,LEISER_RAC,LEISER_WAC,MTFCC10,NAME10,OTHER_RAC,OTHER_WAC,RETAIL_RAC,RETAIL_WAC,STATEFP10,TRACTCE10,UACE10,UATYP10,UR10,createda_1,createdate,geometry,h_geocode,w_geocode,RETAIL_RAC_16,RETAIL_WAC_16,EDHLTH_RAC_16,EDHLTH_WAC_16,LEISER_RAC_16,LEISER_WAC_16,OTHER_WAC_16,OTHER_RAC_16,EMP_RAC_16,EMP_WAC_16
0,16958,0,2002,6.075021e+13,075,14.0,6.0,63.0,6.0,S,2147483647,+37.7500665,-122.4410751,6.0,0.0,G5040,Block 2002,41.0,0.0,2.0,0.0,06,021300,78904,U,U,20160219.0,20160219.0,"POLYGON ((-122.440616 37.750902, -122.440459 3...",6.075021e+13,6.075021e+13,2.008127,0.0,14.586835,6.251501,6.411590,0.000000,0.000000,45.571032,68.577584,6.251501
1,16823,0,2000,6.075021e+13,075,10.0,0.0,57.0,5.0,S,2147483647,+37.7501958,-122.4389330,5.0,0.0,G5040,Block 2000,39.0,5.0,3.0,0.0,06,021300,78904,U,U,20160219.0,20160219.0,"POLYGON ((-122.438397 37.750226, -122.43832 37...",6.075021e+13,6.075021e+13,3.012191,0.0,10.419168,0.000000,5.342992,0.000000,5.557443,43.348055,62.122405,5.557443
2,17020,0,3004,6.075021e+13,075,6.0,0.0,56.0,14.0,S,2147483647,+37.7567937,-122.4362701,10.0,0.0,G5040,Block 3004,35.0,14.0,5.0,0.0,06,020500,78904,U,U,20160219.0,20160219.0,"POLYGON ((-122.435808 37.757623, -122.435642 3...",6.075021e+13,6.075021e+13,5.020318,0.0,6.251501,0.000000,10.685983,0.000000,15.560840,38.902100,60.859902,15.560840
3,16415,0,1003,6.075021e+13,075,16.0,0.0,59.0,14.0,S,2147483647,+37.7535291,-122.4370498,3.0,1.0,G5040,Block 1003,38.0,13.0,2.0,0.0,06,021200,78904,U,U,20160219.0,20160219.0,"POLYGON ((-122.436527 37.75354, -122.436454 37...",6.075021e+13,6.075021e+13,2.008127,0.0,16.670668,0.000000,3.205795,1.111489,14.449352,42.236566,64.121156,15.560840
4,17523,0,4001,6.075021e+13,075,7.0,0.0,35.0,18.0,S,2147483647,+37.7557580,-122.4334002,3.0,0.0,G5040,Block 4001,24.0,18.0,1.0,0.0,06,021100,78904,U,U,20160219.0,20160219.0,"POLYGON ((-122.432331 37.756227, -122.432254 3...",6.075021e+13,6.075021e+13,1.004064,0.0,7.293417,0.000000,3.205795,0.000000,20.006794,26.675726,38.179002,20.006794